a {
  text-decoration: none;
}

h1 {
  display: inline-block;
}

.head-bar {
  float: right;
}

.head-bar a {
  margin-right: 10px;
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer{
  margin-top: auto;
}